section.credit {
  table {position: relative;}
  .caption {
    visibility: hidden;
    position: absolute;
    text-align: center;
    width: fit-content;
    max-width: 33%;
    transform: translate(-50%, -100%);
    background-color: white;
    border: 1px solid black;
    border-radius: 1em;
    top: 0;
  }
  th:hover > .caption {
    visibility: visible;
  }
}