section.credit.credit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .credit-wrapper {overflow-x: auto;}
  .caption {
    visibility: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
    transform: translateY(-100%);
    background-color: white;
    top: 0;
    left: 0;
    border-top: 1px solid grey;
  }
  th:hover, th:focus {
    & > .caption {
      visibility: visible;
    }
  }

  tr > :first-child {
    position: sticky;
    left: 0;
    background-color: white;
    border-left: none;
  }

  & tr {background-color: white;}

  .contributor {color: #26d382;}
}