{% assign x = include.person %}
<article id="{{x.ID}}" class="person">
    <div class="wrapper">
        <i class="far fa-times-circle close" tabindex="0" title="Close"></i>
        <header class="summary">
            <figure class="headshot">
                <img src="/img/people/{{x.ID}}.jpg" alt="Headshot"/>
                <figcaption>{{x.name}}</figcaption>
            </figure>
            <section class="contact">
                {% if x.orcid %}
                <a href="https://orcid.org/{{ x.orcid }}" title="orcid: {{ x.orcid }}"><i class="ai ai-orcid-square ai-2x"></i> {{x.orcid}}</a>
                {% endif %}
                {% if x.github %}
                <a href="https://github.com/{{ x.github }}" title="github: {{ x.github }}"><i class="fab fa-github-square fa-2x"></i> {{x.github}}</a>
                {% endif %}
                {% if x.twitter %}
                <a href="https://twitter.com/{{ x.twitter }}" title="twitter: {{ x.twitter }}"><i class="fab fa-twitter-square fa-2x"></i> {{x.twitter}}</a>
                {% endif %}
                {% if x.email %}
                <a href="mailto:{{ x.email }}" title="email: {{ x.email }}"><i class="fas fa-envelope-square fa-2x"></i> {{x.email}}</a>
                {% endif %}
                {% if x.website %}
                <a href="{{ x.website }}" title="website: {{ x.website }}"><i class="fas fa-external-link-square-alt fa-2x"></i> {{x.website}}</a>
                {% endif %}
            </section>
        </header>
        <main>
            {{x.content}}
        </main>
        <footer>
            {% include credit.html person = x %}
        </footer>
    </div>
</article>